<launch>
    
    <arg name="optitrack_pose_topic" default="pose_stamped" />
    <arg name="transform_stamped_topic" default="transform_stamped" />
    
    <node name="optitrack_pose_to_transform_stamped" pkg="misc_transformations" type="optitrack_pose_to_transform_stamped_node" output="screen" >
        <remap from="optitrack_pose" to="$(arg optitrack_pose_topic)" />
        <remap from="transform_stamped" to="$(arg transform_stamped_topic)" />
    </node>
    
</launch>