<launch>
    
    <arg name="tracker_name" default="f550" />
    <arg name="thrust_max" default="32" />
    <arg name="velocity_filter_time_constant" default="0.2" />
    <arg name="odometry_sampling_time" default="0.02" />

    
    <node name="optitrack_pose_to_transform_stamped" pkg="multirotor_transformations" type="optitrack_pose_to_transform_stamped_node" output="screen" ns="$(arg tracker_name)" >
        <remap from="optitrack_pose" to="/vrpn_client_node/$(arg tracker_name)/pose" />
        <remap from="transform_stamped" to="optitrack/pose" />
    </node>

 	<node name="rc_to_joy" pkg="multirotor_transformations" type="rc_to_joy_node" output="screen" ns="$(arg tracker_name)"/>

 	<include file="$(find multirotor_transformations)/launch/mpc_to_px4_command.launch">
      <arg name="namespace" value="$(arg tracker_name)" />
      <arg name="thrust_max" value="$(arg thrust_max)" />
    </include>

    <include file="$(find multirotor_transformations)/launch/odometry_filter.launch">
      <arg name="namespace" value="$(arg tracker_name)" />
      <arg name="filter_time_constant" value="$(arg velocity_filter_time_constant)" />
      <arg name="filter_sampling_time" value="$(arg odometry_sampling_time)" />
    </include>
    
</launch>